.container {
    margin: 20px;
    padding: 20px;
    background-color: #f5f5f5;
}

.countryName {
    color: #222;
}

.flag {
    width: 200px;
    height: auto;
}

.backButton {
    display: inline-block;
}

.backButton button {
    padding: 10px 20px;
    background-color: #666;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    border-width: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.backButton button:hover {
    background-color: #999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}